In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite:///banco.db', echo=True)

In [3]:
# Dados fictícios
data = {
    "notebook": [
        "Dell XPS 13 9310", "Apple MacBook Air M2 256GB", "Lenovo ThinkPad X1 Carbon 9ª Geração",
        "Acer Aspire 5", "HP Pavilion 15", "Samsung Galaxy Book 2 Pro 15", "Asus VivoBook 15",
        "MSI GF63 Thin 11SC-212XBR", "LG Gram 14", "Microsoft Surface Laptop 4", 
        "Lenovo IdeaPad 3 15", "Dell Inspiron 15 3000"
    ],
    "preco": [
        7599.00, 10999.00, 8999.00, 3399.00, 4299.00, 5499.00, 3699.00, 6599.00, 6999.00, 7799.00,
        2799.00, 3299.00
    ],
    "tamanho_tela": [
        13.3, 13.3, 14.0, 15.6, 15.6, 15.6, 15.6, 15.6, 14.0, 13.5, 15.6, 15.6
    ]
}

In [4]:
df = pd.DataFrame(data)

In [5]:
df.to_sql('dados', con=engine, if_exists='replace', index=False)
print("Banco de dados criado e salvo como 'banco.db'")

2024-11-26 16:30:58,676 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-26 16:30:58,679 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dados")
2024-11-26 16:30:58,679 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-26 16:30:58,680 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("dados")
2024-11-26 16:30:58,681 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-26 16:30:58,682 INFO sqlalchemy.engine.Engine
CREATE TABLE dados (
	notebook TEXT,
	preco FLOAT,
	tamanho_tela FLOAT
)


2024-11-26 16:30:58,683 INFO sqlalchemy.engine.Engine [no key 0.00095s] ()
2024-11-26 16:30:58,963 INFO sqlalchemy.engine.Engine INSERT INTO dados (notebook, preco, tamanho_tela) VALUES (?, ?, ?)
2024-11-26 16:30:58,963 INFO sqlalchemy.engine.Engine [generated in 0.00094s] [('Dell XPS 13 9310', 7599.0, 13.3), ('Apple MacBook Air M2 256GB', 10999.0, 13.3), ('Lenovo ThinkPad X1 Carbon 9ª Geração', 8999.0, 14.0), ('Acer Aspire 5', 3399.0, 15.6), ('HP Pavilion 15', 4299.0, 15.6), ('Samsung Galaxy Book 2 Pro 15', 5499.0, 15.6), ('Asus VivoBook 15', 3699.0, 15.6), ('MSI GF63 Thin 11SC-212XBR', 6599.0, 15.6)  ... displaying 10 of 12 total bound parameter sets ...  ('Lenovo IdeaPad 3 15', 2799.0, 15.6), ('Dell Inspiron 15 3000', 3299.0, 15.6)]
2024-11-26 16:30:58,965 INFO sqlalchemy.engine.Engine COMMIT
Banco de dados criado e salvo como 'banco.db'